# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
server_host.log

# Chrome Extension
*.pem
*.crx
*.zip

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride 
credentials.json
